sgs.server=http://localhost:8080/

# Set the username and fullname defaults in the login dialog
#auth.username=username
#auth.fullname=Users Name

# The level of detail of the avatar; low, high
avatar.detail=high

# Desired frame rate for client
wonderland.client.fps = 30

# Control the size of the client window. The form should be WIDTHxHEIGHT (ie 640x480) or fullscreen
wonderland.client.windowSize = 1024x768

# Set the user directory for the client, useful for running multiple clients on one machine
# An easy way to use this setting is to copy this file to create a number of
# users and use ant -Drun-client.properties.file=<property file> run to launch
# clients for each property file
#wonderland.user.dir=/tmp/.wltest

