<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>JnlpDownloadServlet</servlet-name>
        <servlet-class>org.jdesktop.deployment.jnlp.servlet.JnlpDownloadServlet</servlet-class>
        <init-param>
            <param-name>jnlpSubstitutionHandlerClass</param-name>
            <param-value>org.jdesktop.wonderland.front.servlet.WonderlandSubstitutionHandler</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>org.jdesktop.wonderland.front.servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DefaultPageServlet</servlet-name>
        <servlet-class>org.jdesktop.wonderland.front.servlet.DefaultPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ClientPropertiesServlet</servlet-name>
        <servlet-class>org.jdesktop.wonderland.front.servlet.ClientPropertiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientPropertiesEditorServlet</servlet-name>
        <servlet-class>org.jdesktop.wonderland.front.servlet.ClientPropertiesEditorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientSettingsServlet</servlet-name>
        <servlet-class>org.jdesktop.wonderland.front.servlet.ClientSettingsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JnlpDownloadServlet</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DefaultPageServlet</servlet-name>
        <url-pattern>/default</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientPropertiesServlet</servlet-name>
        <url-pattern>/config/run-client.properties</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientPropertiesEditorServlet</servlet-name>
        <url-pattern>/config/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientSettingsServlet</servlet-name>
        <url-pattern>/config/settings</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>org.jdesktop.wonderland.front.servlet.AdminServlet</listener-class>
    </listener>
    <security-constraint>
        <display-name>Optional Login</display-name>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <description>Access to the admin pages</description>
            <url-pattern>/admin</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
    </security-constraint>
    <security-constraint>
        <display-name>Require User</display-name>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <description>Access to the admin pages</description>
            <url-pattern>/default</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Require Admin</display-name>
        <web-resource-collection>
            <web-resource-name>Properties editor</web-resource-name>
            <description>Properties editor</description>
            <url-pattern>/config/edit</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Settings editor</web-resource-name>
            <description>Settings editor</description>
            <url-pattern>/config/settings</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <description>A logged in user</description>
        <role-name>user</role-name>
    </security-role>
    <security-role>
        <description>A system administration</description>
        <role-name>admin</role-name>
    </security-role>
</web-app>
